:root{
    --first-bg-color: rgb(137,172,118);
    --second-bg-color: rgb(145, 101, 51);
    --first-text-color: rgb(41, 53, 41);
    --second-text-color: rgb(74, 82, 74);
}

*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'fontGioco';
    src: url('../src/fonts/Melon\ Camp.ttf');
}
h2, h3, p{
    color: var(--first-text-color);
    text-shadow: 0 0 5px var(--first-bg-color), 0 0 10px var(--first-bg-color) ;
}
button{
    padding: 0;
}
body{
    height: max-content;
    font-family: fontGioco;
    display: grid;
    margin: 0;
    grid-template-columns: 15em 1fr 1fr 10em;
    grid-template-rows: 10em auto 1fr auto;
    background-color: var(--second-bg-color);
    grid-template-areas: 
        "header header header header"
        "aside nav nav section "
        "aside main main section "
        "footer footer footer footer";
}
header{
    grid-area: header;
    padding: 1em;
    color: var(--first-text-color);
    text-shadow: 0 0 5px var(--first-bg-color), 0 0 10px var(--first-bg-color) ;
}
header p{
    color: var(--second-text-color);
    letter-spacing: 0.1em;
}
header div{
    float: left;
    text-align: center;
}
header button{
    float: right;
    height: 5em;
    margin-top: 2.5em;
    margin-right: 1em;
    cursor: pointer;
}
nav{
    border-top-left-radius: 40px;
    border-top: 1px solid var(--second-bg-color);
    padding: 1em;
    grid-area: nav;
    text-align: center;
    background-color: var(--first-bg-color);
}
aside{
    text-align: center;
    padding: 1em;
    grid-area: aside;
}
section{
    border-top: 1px solid var(--second-bg-color);
    background-color: var(--first-bg-color);
    grid-area: section;
}
footer{
    padding: 1em;
    grid-area: footer;
}
footer table{
    width: 100%;
}
td,th{
    background-color: rgba(128, 128, 128, 0.473);
    color: var(--first-text-color);
    text-shadow: 0 0 5px var(--first-bg-color), 0 0 10px var(--first-bg-color) ;
    padding: 0.5em;
    width: 33%;
}
nav button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    width: 10em;
    border-radius: 25px;
    cursor: pointer;
}
button img{
    width: 50px;
}
aside button{
    display: block;
    margin: 1em auto;
    max-width: 300px;
    cursor: grab;
}
aside button div{
    width: 70%;
    margin: 0.25em 15%;
    font-family: fontGioco;
    color: var(--second-text-color);
}
#pauseButton{
    display: none;
}
main{
    background-color: var(--first-bg-color);
    padding-bottom: 1em;
    border-bottom-left-radius: 40px;
    grid-area: main;
}
#table{
    background-color: rgb(85, 50, 50);
    width: 600px;
    height: 600px;
    /*
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    */
    border-radius: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3em;
    column-gap: 3em;
    padding: 3em;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.534);
}
.hole{
    background-color: rgb(37, 23, 23);
    border-radius: 100%;
    box-shadow: 0 0 10px black;
}
.hole img{
    position: absolute;
}
/*blocco la possibilita di evidenziare gli elementi*/
.hole img, .hole, #table{
     user-select: none;
}
#viewImpostazioni{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(44, 0, 0, 0.26);
    display: none;
}
#viewImpostazioni div{
    background-color: var(--first-bg-color);
    width: 50%;
    height: min-content;
    border-radius: 50px;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#viewImpostazioni button{
    border-radius: 100%;
    grid-column: 2/4;
    width: 75px;
    height: 75px;
    margin: auto;
}
#viewImpostazioni p{
    align-self: center;
    width: 100%;
    text-align: center;
}
#viewImpostazioni h3{
    align-self: center;
    width: 100%;
    text-align: center;
}
#viewImpostazioni div article button{
    border-radius: 10px;
    width: 30%;
    height: 3em;
    margin: 0 35%;
}
@media (max-width: 1100px) {
    #table{
        width: 500px;
        height: 500px;
        row-gap: 2em;
        column-gap: 2em;
    }
}
@media (max-width: 900px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 10em auto auto auto 1fr auto;
        grid-template-areas: 
            "header"
            "aside"
            "section"
            "nav"
            "main"
            "footer";
    }
    nav{
        border-top: none;
        border-top-left-radius: 0;
    }
    main{
        border-bottom-right-radius: 40px;
    }
    section{
        text-align: center;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    aside button{
        display: inline-block;
    }
    header div{
        display: block;
        width: 100%;
    }
    header button{
        margin: 0 25%;
        width: 50%;
    }
    header p{
        display: none;
    }
    #viewImpostazioni div{
        width: 80%;
    }
}
@media (max-width: 550px){
    #table{
        width: 390px;
        height: 390px;
        row-gap: 1em;
        column-gap: 1em;
    }
    nav button{
        width: 33%;
    }
    #viewImpostazioni div{
        width: 80%;
        grid-template-columns: 1fr;
    }
    #viewImpostazioni h2{
        text-align: center;
    }
    #viewImpostazioni button{
        width: 50px;
        height: 50px;
        grid-column: auto;
    }
    #viewImpostazioni button img{
        width: 45px;
    }
    #viewImpostazioni p{
        display: none;
    }
}
@media (max-width: 390px){
    #table{
        width: 340px;
        height: 340px;
        row-gap: 1em;
        column-gap: 1em;
        padding: 35px;
    }
}