body{
    margin: 0;
    font-family: sans-serif;
}

header{
    background-color: rgb(62, 147, 62);
    padding: 1em;
}
header h1{
    color: white;
    text-align: center;
    margin-top: 0;
}
header p{
    color: darkgreen;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
nav{
    background-color: rgb(45, 45, 45);
    text-align: center;
}
nav ul{
    margin: auto;
    list-style: none;
    padding: 0.5em 1em 0.5em 1em;
}
nav ul li{
    display: inline;
    height: 2em;
    padding: 0.5em 1em 0.5em 1em;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: white;
    text-decoration: underline;
}
section{
    padding: 1em;
}
h2{
    color: green;
    border-bottom: 0.075em solid green;
}
img{
    width: 40vw;
    border-radius: 20px;
    padding: 0.5em;
    vertical-align: top;
}
ul, ol{
    padding-left: 1em;
}
li{
   padding-top: 1em; 
}
table{
    margin: auto;
    width: 90%;
    border-collapse: collapse;
}
th{
    background-color: rgb(25, 156, 25);
    color: white;
}
td,th{
    padding: 0.5em;
    border: 1px solid green;
}
tr:nth-child(odd){
    background-color: rgba(255, 205, 148, 0.400);
}
tr:hover{
    background-color: rgba(0, 0, 0, 0.075);
}
tr:nth-child(odd):hover{
    background-color: rgba(255, 205, 148, 0.700);
}
div.album{
    text-align: center;
}
footer{
    background-color: rgb(45, 45, 45);
    color: white;
    text-align: center;
    padding: 1em 0;
}
footer p{
    padding: 1em 0;
    margin: 0;
}
footer p a{
    color: green;
    text-decoration: none;
}
footer p a:hover{
    color: green;
    text-decoration: underline;
}